.breadcrumbs {

  .crumb {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    position: relative;

    &:after {
      @include pseudo-full-size();
      background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>D29CB090-4DA1-40B5-B7FA-2E115FC979D6</title><desc>Created with sketchtool.</desc><defs></defs><g id="UIKIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-77.000000, -3135.000000)" id="Icons&amp;Grpahics"><g transform="translate(-26.000000, 2840.000000)"><g id="Icon16px" transform="translate(98.000000, 252.000000)"><g id="Content" transform="translate(0.000000, 40.000000)"><g id="ArrowDownIcon" transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "><rect id="Rectangle-9" x="0" y="0" width="16" height="16"></rect><polygon id="Shape-2" fill="#AD7A7B" fill-rule="nonzero" points="4.54668442 5.04047277 3 6.65625 8 11 13 6.65625 11.5411727 5 8 8"></polygon></g></g></g></g></g></g></svg>');
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      right: 0;
      transform: translate(calc(100% + 8px), calc(-50%));
      width: 10px;
      height: 10px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      margin: auto 0 auto 24px;

      &:after {
        right: auto;
        left: 0;
        transform: translate(calc(-100% - 1px), -50%);
      }

      &:last-child {
        &:after {
          display: block;
        }
      }
    }
  }
}