.nav-next-prev.d-flex.justify-content-between.align-items-center
  .prev.icon-link
    include ../../images/arrow-left-icon.svg
    .nav-text 2011 год
  .next.icon-link
    .nav-text 2013 год
    include ../../images/arrow-right-icon.svg