.search-box.d-flex.justify-content-center.align-items-center(
  data-search-url="/search-url/"
)
  .custom-select-box.custom-select-box-lg
    select(name="market-name")
      option(value="", disabled, selected) Название рынка
      option(value="Название рынка 01") Название рынка 01
      option(value="Название рынка 02") Название рынка 02
      option(value="Название рынка 03") Название рынка 03
      option(value="Название рынка 04") Название рынка 04
      option(value="Название рынка 05") Название рынка 05
      option(value="Название рынка 06") Название рынка 06
      option(value="Название рынка 07") Название рынка 07
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
      option(value="Название рынка 08") Название рынка 08
  .custom-select-box.custom-select-box-lg
    select(name="region")
      option(value="", disabled, selected) Регион
      option(value="Регион 01") Регион 01
      option(value="Регион 02") Регион 02
      option(value="Регион 03") Регион 03
      option(value="Регион 04") Регион 04
      option(value="Регион 05") Регион 05
      option(value="Регион 06") Регион 06
      option(value="Регион 07") Регион 07
      option(value="Регион 08") Регион 08
  .input-group-append
    button.search-button.d-flex.align-items-center.justify-content-center(type="button")
      include ../../images/search.svg