.timeline
  .line
    .line-bar
  .anchors-wrapper.d-flex.justify-content-between.align-items-center
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2000", data-toggle="tooltip", data-offset="0, 10", data-title="2000 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2001", data-toggle="tooltip", data-offset="0, 10", data-title="2001 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2002", data-toggle="tooltip", data-offset="0, 10", data-title="2002 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2003", data-toggle="tooltip", data-offset="0, 10", data-title="2003 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2004", data-toggle="tooltip", data-offset="0, 10", data-title="2004 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2005", data-toggle="tooltip", data-offset="0, 10", data-title="2005 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2006", data-toggle="tooltip", data-offset="0, 10", data-title="2006 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2007", data-toggle="tooltip", data-offset="0, 10", data-title="2007 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2008", data-toggle="tooltip", data-offset="0, 10", data-title="2008 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2009", data-toggle="tooltip", data-offset="0, 10", data-title="2009 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2010", data-toggle="tooltip", data-offset="0, 10", data-title="2010 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2011", data-toggle="tooltip", data-offset="0, 10", data-title="2011 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2012", data-toggle="tooltip", data-offset="0, 10", data-title="2012 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2013", data-toggle="tooltip", data-offset="0, 10", data-title="2013 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2014", data-toggle="tooltip", data-offset="0, 10", data-title="2014 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2015", data-toggle="tooltip", data-offset="0, 10", data-title="2015 год")
      .anchor-icon
    .anchor(data-filter="year", data-parameters="from,to", data-from="2000", data-to="2016", data-toggle="tooltip", data-offset="0, 10", data-title="2016 год")
      .anchor-icon