$primary-font-color: rgba(#000000, .55);
$primary-font-color-invert: rgba(#FFFFFF, .85);
$primary-link-color: rgba(#630001, .55);

$nav-link-color: rgba(#000000, .55);
$nav-link-active: rgba(#630001, .55);

$icon-link-base-color: #000000;

$link-color: rgba(#630001, .55);
$link-active: rgba(#630001, .75);
$link-disabled: rgba(206, 206, 206, 0.8);

$form-control-border-default: rgba(206, 206, 206, 0.55);
$form-control-border-hover: #cecece;
$form-control-border-focus: rgba(99, 0, 1, 0.35);
$font-control-placeholder: rgba(#000000, 0.35);
$font-control-option-background: rgba(#eaeaea, 0.55);
$font-control-option-color: rgba(#000000, 0.53);

$btn-disabled-color: rgba(206, 206, 206, 0.8);

$btn-primary-color: rgba(0, 0, 0, 0.55);
$btn-primary-color-disabled: rgba(206, 206, 206, 0.8);
$btn-primary-background: #ffffff;
$btn-primary-background-hover: #ffffff;
$btn-primary-background-active: #ffffff;
$btn-primary-background-disabled: #ffffff;

$btn-primary-shadow: rgba(99, 0, 1, 0.05);
$btn-primary-shadow-hover: #cecece;
$btn-primary-shadow-active: rgba(99, 0, 1, 0.25);
$btn-primary-shadow-disabled: #ffffff;

$btn-primary-border: rgba(206, 206, 206, 0.55);
$btn-primary-border-hover: rgba(99, 0, 1, 0.12);
$btn-primary-border-active: #cecece;
$btn-primary-border-disabled: rgba(234, 234, 234, 0.55);




$btn-secondary-color: #ffffff;
$btn-secondary-color-disabled: rgba(206, 206, 206, 0.8);
$btn-secondary-background: #d96c6c;
$btn-secondary-background-hover: #bf4d4d;
$btn-secondary-background-active: #b34747;
$btn-secondary-background-disabled: #ffffff;

$btn-secondary-shadow: rgba(99, 0, 1, 0.05);
$btn-secondary-shadow-hover: rgba(99, 0, 1, 0.2);
$btn-secondary-shadow-active: rgba(99, 0, 1, 0.25);
$btn-secondary-shadow-disabled: #ffffff;

$btn-secondary-border: rgba(206, 206, 206, 0.55);
$btn-secondary-border-hover: #bf4d4d;
$btn-secondary-border-active: #b34747;
$btn-secondary-border-disabled: rgba(234, 234, 234, 0.55);