footer.footer.d-flex.justify-content-between.align-items-center
  .container.d-flex.justify-content-between.align-items-center.flex-column.flex-sm-row
    .copyright.d-flex
      .copy-symbol ©
      .copy-text Проект  Wotan
    ul.social-links.d-flex
      li.title Поделиться
      li.social-item
        a.social-link(href="!#")
          include ../../images/facebook.svg
      li.social-item
        a.social-link(href="!#")
          include ../../images/twitter.svg
      li.social-item
        a.social-link(href="!#")
          include ../../images/vkontakte.svg